html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(55, 60, 92);
}

#content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.central-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
  object-fit: contain;
}

#formContainer {
  padding: 40px;
  background: #3E7FC8;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
  width: 90%;
  max-width: 700px;
}

#formContainerWriting {
  color: #f9f9f9;
}

.button {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffce2d;
  color: rgb(35, 35, 35);
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffce2d;
  color: rgb(35, 35, 35);
}
